/*CSS RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

/* Media Queries */
/* Set the media query for mobile*/
@media only screen and (max-width: 400px) {
	/*CSS Rule for mobiles only*/
	#profile {
		background-color: indianred;
	}
}
/* Set the media query for table*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	#profile {
		background-color: blue;
	}
}
/* Set the media query for desktop*/
@media only screen and (min-width: 961px) {
	#profile {
		background-color: green;
	}
}

body {
	background-image: url(https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

main {
	margin: 5rem;
	padding: 5rem;
	border: 2px solid;
	border-color: rgba(179, 179, 179, 0.8);
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.75);
}

main #profile-pic {
	width: 25%;
	height: 25%;
	border-radius: 15em;
}

main #

container-2 {
	margin: 5rem 15rem;
	padding: 2rem 5rem;
	border: 5px solid;
	border-color: rgba(179, 179, 179, 0.8);
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.75);
}

main h1 {
	color: rgb(38, 38, 38);
	font-size: 60px;
}

main #job-title {
	color: rgba(38, 38, 38, 0.5);
}
main h3 {
	font-size: 40px;
	color: rgba(38, 38, 38, 0.9);

}


main .about-me {
	padding-left: 18%;
	padding-right: 18%;
	color: rgba(38, 38, 38, .9);
}

#skill-section0 {
	border-color: rgba(179, 179, 179, 0.8);
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.75);
	width: 50%;
	height: 50%;
}

#current-skill {
	background-color: green;
}

.logo {
	color: rgba(38, 38, 38, .9);
	font-size: bolder;
}

section #future-project {
	font-size: 50px;
	margin-bottom: 20px;
	color: rgb(38, 38, 38);
}

section #card{
	background-color: rgba(242, 242, 242, 1.0);
	color: rgb(38, 38, 38); 
}

section #card:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

#contact-message {
	color: rgb(242, 242, 242);
}

#button-form {
	background-color: rgba(38, 38, 38, .5);
	color: rgba(242, 242, 242, 1.0);
}

#googlemap {
	width: 75%;
	height: 20rem;
}

#contact-details {
	color: rgb(242, 242, 242);
}

#footer {
	background-color: rgb(204, 204, 204);
	padding: 0.8%;
}

#icon {
	text-decoration: none;
}